.footer {
    background-color: rgba(4, 56, 115, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px 220px 32px;
  }
  
  @media (max-width: 991px) {
    .footer {
      padding: 100px 20px 0;
    }
  }
  
  .content {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1480px;
    flex-direction: column;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .content {
      max-width: 100%;
    }
  }
  
  .info {
    z-index: 0;
    display: flex;
    width: 100%;
    align-items: start;
    gap: 40px 100px;
    justify-content: start;
    flex-wrap: wrap;
  }
  
  .logoDescription {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: start;
    flex: 1;
    flex-basis: 0%;
  }
  
  .logo {
    display: flex;
    max-width: 100%;
    width: 191px;
    gap: 10px;
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
  }
  
  @media (max-width: 991px) {
    .logo {
      white-space: initial;
    }
  }
  
  .logoImage {
    aspect-ratio: 1.28;
    object-fit: contain;
    object-position: center;
    width: 37px;
    margin: auto 0;
  }
  
  .logoText {
    flex-grow: 1;
    width: 137px;
  }
  
  .description {
    color: #f7f7ee;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-top: 15px;
  }
  
  .infoColumn {
    display: flex;
    flex-direction: column;
    color: #fff;
    letter-spacing: -0.32px;
    justify-content: start;
    flex: 1;
    flex-basis: 0%;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .columnTitle {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.36px;
  }
  
  .columnItem {
    margin-top: 15px;
  }
  
  .highlightedItem {
    color: #ffe492;
  }
  
  .trySection {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: start;
    width: 259px;
  }
  
  .trySectionTitle {
    color: #fff;
    letter-spacing: -0.56px;
    font: 700 28px/1 Inter, sans-serif;
  }
  
  .trySectionDescription {
    color: #fff;
    letter-spacing: -0.32px;
    margin-top: 23px;
    font: 400 16px/20px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .startButton {
    border-radius: 8px;
    background-color: rgba(79, 156, 249, 1);
    align-self: start;
    display: flex;
    margin-top: 23px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 20px 40px;
  }
  
  @media (max-width: 991px) {
    .startButton {
      padding: 0 20px;
    }
  }
  
  .startButtonText {
    color: #fff;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: auto 0;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .startButtonIcon {
    align-self: stretch;
    display: flex;
    align-items: start;
    gap: 4px;
    justify-content: start;
    width: 14px;
    margin: auto 0;
  }
  
  .startButtonIconImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 14px;
  }
  
  .bottomSection {
    z-index: 0;
    display: flex;
    margin-top: 100px;
    width: 100%;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .bottomSection {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .termsAndConditions {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: center;
    gap: 40px 60px;
    justify-content: start;
    flex-wrap: wrap;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .termsAndConditions {
      max-width: 100%;
    }
  }
  
  .languageSelector {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    margin: auto 0;
  }
  
  .languageIcon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 19px;
    margin: auto 0;
  }
  
  .languageIconImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
  }
  
  .languageText {
    color: #fff;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: auto 0;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .languageArrow {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    margin: auto 0;
    padding: 4px;
  }
  
  .languageArrowImage {
    aspect-ratio: 2;
    object-fit: contain;
    object-position: center;
    width: 12px;
  }
  
  .termsItem {
    color: #fff;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: auto 0;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .copyright {
    color: #fff;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: auto 0;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .socialIcons {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: start;
    margin: auto 0;
  }
  
  .socialIcon {
    object-fit: contain;
    object-position: center;
    align-self: stretch;
    margin: auto 0;
  }
  
  .divider {
    position: absolute;
    z-index: 0;
    min-height: 0px;
    width: 1480px;
    right: 0px;
    bottom: 52px;
    height: 0px;
    border: 1px solid rgba(46, 78, 115, 1);
  }
  .copyspan{
    font-size: 20px;
color: darkgoldenrod;
font-family: 'Times New Roman', Times, serif; }